<h2>Mentee-Space</h2>

{{#if user}}

<div class="avatar">

<img src="{{this.imgPath}}" alt="">

<h3>Update Your Profile Picture</h3>
<form action="/mentee-edit" method="POST" enctype="multipart/form-data">

  <label>Poster</label>
  <input type="file" name="photo">
 
  <input type="submit" value="SAVE">
</form>

</div>

<div>
  <a href="/common-space">Common Space</a>
  <br>
  <a href="/mentee-edit">Update your profile</a>
  <br>
  <a href="/logout">Logout</a>


</div>

<label for="username">Hello {{user.username}} </label>
<br><br>
<label for="professionalField-input">Professional Field {{user.professionalField}} </label>
<br><br>
<label for="name">Name {{user.name}} </label>
<br><br>
<label for="surname">Surname {{user.surname}} </label>
<br><br>
<label for="country">Country {{user.country}} </label>
<br><br>
<label for="city">City {{user.city}} </label>
<br><br>
<label for="phone">Phone Number {{user.phone}} </label>
<br><br>
<label for="email">Email {{user.email}} </label>
<br><br>
<label for="position-input">Position {{user.position}} </label>
<br>
<label for="bioDescription-input">Your Bio {{user.bioDescription}} </label>
<br>



{{#each jobs}}
<p>{{title}}</p>
<p>{{company}}</p>
<a href="{{url}}"><img src={{company_logo}}></a>
{{/each}}

<form method="GET" action="/mentee-space">
  <button type="submit"> View other Jobs</button>
</form>


{{#each mentors }}
<label for="username"> {{username}} </label>
<br><br>
<label for="name">Name {{name}} </label>
<br><br>
<label for="position-input">Position {{position}} </label>
<br><br>
<label for="email">Email {{email}} </label>
<br><br>
{{/each}}

{{/if}}