<h1>Get in touch with your Mentor!</h1>

<h2>{{user.name}}</h2>
<h2>{{user.professionalField}}</h2>
<h2>{{user.position}}</h2>
<h2>{{user.email}}</h2>
<h2>{{user.bioDescription}}</h2>

<form action="/follow/{{user._id}}" method="get">
    <button type="submit">Follow</button>
</form>

<a href="/mentee-space">Back</a>