{{#if user}}












{{!-- --------------MENTEE DISPLAY---------------- --}}



<div class="d-flex align-items-around " id="display">

    {{#each mentees }}

    <div class="d-flex flex-column align-items-around" id="user-display">
        <div class="p-2"><img src="{{imgPath}}" id="display-image" id="image-container-round"
                class="border border-dark hover2" width="70%">
        </div>
        <div class="p-2"><label for="name">Name: {{name}} {{surname}} </label></div>
        <div class="p-2"><label for="position-input">Position: {{position}} </label></div>
        <div class="p-2"><label for="professionalField">Field: {{professionalField}} </label></div>
        <div class="p-2"><a href="/mentee/{{id}}">Check the Mentee</a></div>
    </div>



    {{/each}}

</div>


{{/if}}